.btn{
    background-color: #f0eb65;
    color: #201600;
    font-size: 21px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    border: none;
    padding: 10px 115px;
    cursor: pointer;

    @include phones{
        padding: 10px 80px;
    }
}

.btn-wrap{
    display: flex;
    justify-content: center;
    padding: 20px;
}